@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
body > div {
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #455442;
  color: #d7d4b8;
}

a {
  text-decoration: none;
  color: #d7d4b8;
}

a:hover {
  color: #c7c28f;
}
